{% extends 'adminnavbar.html' %}

{% block content %}
<div class="">
    <div class="eventFlexBtn">
        <h3>List of Customer Profile</h3>
        <button class="eventmasterAddbtn">
            <a href="{% url 'addprofile' %}" class=addevents>Add Customer Profile</a>
        </button>
    </div>

    <div class="eventmaster">

        <!-- <div class="eventSearch">
            <form action="">
                <input type="text" placeholder="Search.." name="search" id="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div> -->


        <table>
            <thead>
                <tr>

                    <th>Customer First Name&nbsp;&nbsp;</th>
                    <th>Customer Last Name&nbsp;&nbsp;</th>
                    <th>Customer Email&nbsp;&nbsp;</th>
                    <th>Customer Phone Number&nbsp;&nbsp;</th>
                     <th>Customer Address&nbsp;&nbsp;</th>
                    <th style="text-align: center;">Edit / Delete</th>


                </tr>
            </thead>
            <tbody id="mytable" >
                {% for a in customer %}
                <tr style="margin: 50px;">

                    <td style="text-align: left;">{{a.customer_first_name}}</td>
                    <td style="text-align: left;">{{a.customer_last_name}}</td>
                    <td style="text-align: left;">{{a.customer_email}}</td>
                    <td style="text-align: left;">{{a.customer_phone_number}}</td>
                    <td style="text-align: left;">{{a.customer_address}}</td>
                    <td>
                        <span class="slotEditBtn">
                            <a href="{% url 'editprofile' a.id %}"><button class="eventMasterEditBtn"><i
                                        class="fa fa-edit"></i></button> </a>
                            <a href="{% url 'deleteprofile' a.id %}"><button class="eventMasterDeletBtn"><i
                                        class="fa fa-trash"></i></button></a>
                        </span>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}